<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{pageTitle}} - Election System</title>
  <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand ms-4" href="{{#if isAuth}}/admin{{else}}/{{/if}}">Election System</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          {{#if isAuth}}
            <li class="nav-item">
              <a class="nav-link {{#if candidatesActive}}active{{/if}}" aria-current="page" href="/candidates">Candidates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{#if partiesActive}}active{{/if}}" aria-current="page" href="/parties">Parties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{#if positionsActive}}active{{/if}}" aria-current="page" href="/positions">Positions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{#if citizensActive}}active{{/if}}" aria-current="page" href="/citizens">Citizens</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{#if electionsActive}}active{{/if}}" aria-current="page" href="/elections">Elections</a>
            </li>
          {{else}}
          {{/if}}
        </ul>
        {{#if voteActive}}
        {{else}}
          <ul class="navbar-nav row align-items-end mx-2">
            <li class="nav-item">
              {{#if isAuth}}
                <form class="mx-0 my-0" method="post" action="/auth/logout">
                  <button class="btn btn-link text-decoration-none text-danger" type="submit">Logout</button>
                </form>
              {{else}}
                <a class="nav-link {{#if loginActive}}active{{/if}}" aria-current="page" href="/auth/login">Login</a>
              {{/if}}
            </li>
          </ul>
        {{/if}}
      </div>
    </nav>
  </header>

  <main class="container-fluid mt-4">
    {{#if hasErrorMsgs}}
    <div class="row justify-content-center">
      <div class="col-5 alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
          {{#each errorMsgs}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    {{/if}}

    {{{body}}}
  </main>

  <footer class="border-top bg-white pt-3 footer text-muted mt-auto">
    <div class="container-fluid text-center">
      <p>
        &copy;
        <span id="current-year"></span>
        -
        <a class="text-decoration-none" target="_blank" href="https://www.anibalventura.com/">Anibal Ventura</a> & Julio Peguero
      </p>
    </div>
  </footer>
  <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/scripts.js"></script>
</body>

</html>